<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="cache-control" content="max-age=60">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=0">
    <title>T26图文匹配(
        <%= new Date().getFullYear()%>-
            <%= new Date().getMonth()+1 %>-
                <%= new Date().getDate() %>)</title>
    <link rel="stylesheet" href="css/index.css?v=<%=new Date().getTime()%>">
    <script src="../../jquery-2.1.1.min.js"></script>
    <script>
        if (!window.jQuery) {
            document.write('<script src="/assets/js/jquery/2.1.1/jquery.min.js"><\/script>');
        } 
    </script>
    <script src="js/tracking.js?v=<%=new Date().getTime()%>"></script>
    <script src="js/sdk.js?v=<%=new Date().getTime()%>"></script>
    <script src="js/fit.js?v=<%=new Date().getTime()%>"></script>
</head>

<body>
    <div class="container" id="container" data-syncresult='show-syncactions-1'>
        <section class="commom">
            <div class="desc"></div>
            <div class="title">
                <h3></h3>
            </div>
        </section>

        <section class="main">
            <!-- 文字 -->
            <section class="texts-box">
                <div class="texts-box-text">
                    <p class="text">apple</p>
                    <audio></audio>
                </div>
                <div class="texts-box-text">
                    <p class="text"></p>
                    <audio></audio>
                </div>
                <div class="texts-box-text">
                    <p class="text"></p>
                    <audio></audio>
                </div>
                <div class="texts-box-text">
                    <p class="text"></p>
                    <audio></audio>
                </div>
            </section>
            <!-- 图片 -->
            <section class="imgs-box">
                <div class="imgs-box-img">
                    <div class="monster">
                        <div class="monster-body"></div>
                        <div class="monster-head happy"></div>
                        <div class="monster-hand monster-hand-left"></div>
                        <div class="monster-hand monster-hand-right"></div>
                    </div>
                    <div class="img">
                        <img>
                    </div>
                </div>
                <div class="imgs-box-img">

                </div>
                <div class="imgs-box-img">
                    <div class="img">
                        <img>
                    </div>
                </div>
                <div class="imgs-box-img">
                    <div class="img">
                        <img>
                    </div>
                </div>
            </section>
        </section>

    </div>
    
    <script type="text/javascript" src="content.js?v=<%=new Date().getTime()%>"></script>
    <script type="text/javascript" src="js/index.js?v=<%=new Date().getTime()%>"></script>
</body>

</html>