<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=0">
  <title>TCA0001_气球倒计时(
    <%= new Date().getFullYear()%>-
      <%= new Date().getMonth()+1 %>-
        <%= new Date().getDate() %>)</title>
  <link rel="stylesheet" href="css/index.css?v=<%=new Date().getTime()%>">
  <!--     <script src="../../jquery-2.1.1.min.js"></script> -->
  <script src="../../jquery-2.1.1.min.js"></script>
  <script>
    if (!window.jQuery) {
      document.write('<script src="/assets/js/jquery/2.1.1/jquery.min.js"><\/script>')
    }
  </script>
  <!-- <script src="js/tracking.js?v=<%=new Date().getTime()%>"></script> -->
  <script src="js/sdk.js?v=<%=new Date().getTime()%>"></script>
  <script src="js/fit.js?v=<%=new Date().getTime()%>"></script>
</head>

<body>
  <div class="container" id="container" data-syncresult="show-result-1">

    <section class="commom">
      <div class="desc"></div>
      <div class="title">
        <h3></h3>
      </div>
    </section>
 
    <audio id="start" loop="loop" webkit-playsinline controls src="audio/start.mp3" preload="preload"></audio>
    <audio id="end" webkit-playsinline controls src="audio/end.mp3" preload="preload"></audio>
    <section class="main">
      <div class="sec-middle"> 
        <div class="content">
          <div class="left-btn">
            <div class="leftBtnBg" data-syncactions="leftBtn"></div>
          </div>
          <div class="source">
            <div class="pic"></div>
            <div class="pic-btn"></div>
            <div class="source-audio" data-syncactions="audioBtn-1">
              <img src="image/btn-audio.png" alt="">
            </div>
          </div>
          <div class="right-btn">
            <div class="rightBtnBg" data-syncactions="rightBtn"></div>
          </div>
        </div>
      </div>
      <div class="avatars">
        <ul>
          <!-- <li>
                    <img src="image/avatars.png" alt="" class="avatar">
                    <p class="name">stu1</p>
                    <div class="absence"></div>
                </li> -->
        </ul>
      </div>
      <div class="bomb" data-syncactions="bomb-1">
        <div class="bomb-img">
          <img src="image/balloon.png" alt="">
          <p class="count-down" data-syncactions="countdown-1"></p>
        </div>
        <!--  <p class="count-down" data-syncactions="countdown-1"></p> -->
        <div class="btn start" data-syncactions="btns-1"></div>
        <img src="image/ball.gif" alt="" class="bomb-gif hide">
      </div>
    </section> 
  </div>
  <script type="text/javascript" src="content.js?v=<%=new Date().getTime()%>"></script>
  <script type="text/javascript" src="js/index.js?v=<%=new Date().getTime()%>"></script>
</body>

</html>