<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="cache-control" content="max-age=60">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <title>TDR0004_全屏拖拽(<%= new Date().getMonth()+1 %>-<%= new Date().getDate() %>-<%= Date.now() %>)</title>
    <link rel="stylesheet" href="css/index.css?v=<%=new Date().getTime()%>">
    <script src="../../jquery-2.1.1.min.js"></script>
    <script>
        if (!window.jQuery) {
            document.write('<script src="/assets/js/jquery/2.1.1/jquery.min.js"><\/script>');
        } 
    </script>
    <script src="js/tracking.js?v=<%=new Date().getTime()%>"></script>
    <script src="js/sdk.js?v=<%=new Date().getTime()%>"></script>
    <script src="js/fit.js?v=<%=new Date().getTime()%>"></script>
</head>
<body>
<div class="container" id="container" data-syncresult='1'>
    <div class="drag"></div>
    <div class="cover"></div>
    <section class="commom">
            <section class="commom">
                <div class="desc"></div>
                <div class="title">
                    <h3></h3>
                </div>
            </section>
        <audio class="wrong" src="./audio/wrong.mp3"></audio>
        <audio class="true" src="./audio/true.mp3"></audio>
        <audio class="back" src="./audio/back.mp3"></audio>
        <audio class="click" src="./audio/click.mp3"></audio>
    </section>
    
    <section class="main">
        <div class="line"></div>
        <div class="stage">
            <!-- 上下按钮 -->
           <div class="imgList">
                <span class="upMask"></span>
                <span class="downMask"></span>
                <span class="btns">
                    <span class="upBtn sameBtn"  data-syncactions="ups">
                        <img src="./image/tmp_up.png"/>
                    </span>
                    <span class="downBtn sameBtn" data-syncactions="downs">
                        <img src="./image/tmp_down.png" />
                    </span>
                </span>
           </div>
           <!-- 右边自由区 -->
           <div class="freeArea">
                <!-- 自由区 -->
                <div class="freeDom">
                    <ul><li></li></ul>
                </div>
           </div>
           <div class="imgFont">
                
            </div>
        </div>
    </section>

</div>
<script type="text/javascript" src="content.js?v=<%=new Date().getTime()%>"></script>
<script type="text/javascript" src="js/index.js?v=<%=new Date().getTime()%>"></script>
</body>
</html>
