<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="cache-control" content="max-age=60">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=0">
    <title>宝箱(<%= new Date().getFullYear()%>-<%= new Date().getMonth()+1 %>-<%= new Date().getDate() %>)</title>
    <link rel="stylesheet" href="css/index.css?v=<%=new Date().getTime()%>">
    <script src="../../jquery-2.1.1.min.js"></script>
    <script>
        if (!window.jQuery) {
            document.write('<script src="/assets/js/jquery/2.1.1/jquery.min.js"><\/script>');
        } 
    </script>
    <script src="js/tracking.js?v=<%=new Date().getTime()%>"></script>
    <script src="js/sdk.js?v=<%=new Date().getTime()%>"></script>
    <script src="js/fit.js?v=<%=new Date().getTime()%>"></script>
</head>
<body>
<div class="container" id="container" data-syncresult='show-result-1'>
    <section class="commom">
    </section>
    
    <section class="main">
        <div class="stage">
            <div class="box box_1">
                <img src="./image/light.png"/>
                <div class="init_box" data-syncactions="item_1"></div>
                <div class="open_box">
                    <span class="star_1"></span>
                    <span class="star_2"></span>
                    <span class="star_3"></span>
                </div>
                <div class="mask"></div>
            </div> 
           <div class="box box_2">
                <img src="./image/light.png"/>
                <div class="init_box" data-syncactions="item_2"></div>
                <div class="open_box">
                    <span class="star_1"></span>
                    <span class="star_2"></span>
                    <span class="star_3"></span>
                </div>
                <div class="mask"></div>
            </div>
             <div class="box box_3">
                <img src="./image/light.png"/>
                <div class="init_box" data-syncactions="item_3"></div>
                <div class="open_box">
                    <span class="star_1"></span>
                    <span class="star_2"></span>
                    <span class="star_3"></span>
                </div>
                <div class="mask"></div>
            </div>
            <div class="box box_4">
                <img src="./image/light.png"/>
                <div class="init_box" data-syncactions="item_4"></div>
                <div class="open_box">
                    <span class="star_1"></span>
                    <span class="star_2"></span>
                    <span class="star_3"></span>
                </div>
                <div class="mask"></div>
            </div>
            <div class="box box_5">
                <img src="./image/light.png"/>
                <div class="init_box" data-syncactions="item_5"></div>
                <div class="open_box">
                    <span class="star_1"></span>
                    <span class="star_2"></span>
                    <span class="star_3"></span>
                </div>
                <div class="mask"></div>
            </div>
        </div>
    </section>

</div>
<script type="text/javascript" src="content.js?v=<%=new Date().getTime()%>"></script>
<script type="text/javascript" src="js/index.js?v=<%=new Date().getTime()%>"></script>
</body>
</html>
